<% pageTitle="Home  | RFX" %>

  <%- include('partials/header'); -%>

    <main>
      <!-- hero slider -->
      <section class="hero__slider">
        <div class="splide hero__splide">
          <div class="splide__track">
            <ul class="splide__list">
              <% heroSliders.forEach(slider=> { %>
                <li class="splide__slide">
                  <div class="wrapper">
                    <div class="slide__content">
                      <h3>
                        <%= slider.Headline1 %> <span>
                            <%= slider.Headline2 %>
                          </span>
                      </h3>
                      <p>
                        <%= slider.Description %>
                      </p>
                      <div class="btns">
                        <a href="<%= slider.Button1Link %>" class="btn">
                          <%= slider.Button1Text %>
                        </a>
                        <a href="<%= slider.Button2Link %>" class="btn">
                          <%= slider.Button2Text %>
                        </a>
                      </div>
                    </div>
                    <div class="slide__img">
                      <figure>
                        <img src="http://localhost:1337<%=slider.Image.url %>" alt="#">
                      </figure>
                    </div>
                  </div>
                </li>
                <% }) %>
            </ul>
          </div>
          <div class="splide__arrows">
            <button type="button" class="splide__arrow splide__arrow--prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
              </svg>
              <p>Back</p>
            </button>
            <button type="button" class="splide__arrow splide__arrow--next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
              <p>Next</p>
            </button>
          </div>
        </div>
      </section>
      <!-- --hero slider -->
      <!-- home cta -->
      <section class="home__cta">
        <div class="text">
          <p>
            <%= pageLayout.cta.Headline %>
          </p>
          <p>
            <%= pageLayout.cta.SecondLine %>
          </p>
        </div>
        <a href="<%= pageLayout.cta.ButtonLink %>" class="cta__btn btn">
          <%= pageLayout.cta.ButtonText %>
        </a>
      </section>
      <!-- --home cta -->
      <!-- home intro -->
      <section class="home__intro">
        <div class="img">
          <figure>
            <img src="http://localhost:1337<%= pageLayout.introBlock.Image.url %>"
              alt="<%= pageLayout.introBlock.Headline %>">
          </figure>
        </div>
        <div class="content">
          <h2>
            <%= pageLayout.introBlock.Headline %>
          </h2>
          <p>
            <%= pageLayout.introBlock.Description %>
          </p>
          <div class="btns">
            <a href="<%= pageLayout.introBlock.Button1Link %>" class="btn">
              <%= pageLayout.introBlock.Button1Text %>
            </a>
            <a href="<%= pageLayout.introBlock.Button2Link %>" class="btn">
              <%= pageLayout.introBlock.Button2Text %>
            </a>
          </div>
        </div>
      </section>
      <!-- --home intro -->
      <!-- home updates -->
      <section class="home__updates">
        <div class="blog">
          <div class="overlay"></div>
          <div class="title">
            <h3>Insights</h3>
            <div class="line"></div>
          </div>
          <div class="splide blog__splide">
            <div class="splide__track">
              <ul class="splide__list">
                <% blogs.forEach(blog=> { %>
                  <li class="splide__slide">
                    <div class="content">
                      <p class="date">
                        <%=blog.Date%>
                      </p>
                      <p>
                        <%=blog.Description%>
                      </p>
                      <div class="btn">Read More</div>
                    </div>
                  </li>
                  <% }); %>
              </ul>
            </div>
          </div>
        </div>
        <div class="news">
          <% news.forEach(post=> { %>
            <a href="#" class="item">
              <p class="date">
                <%= post.Date %>
              </p>
              <h4>
                <%= post.Headline %>
              </h4>
              <div class="btn">Read More</div>
            </a>
            <% }) %>
        </div>
      </section>
      <!-- --home updates -->
      <!-- product grid -->
      <section class="product__grid">
        <div class="heading">
          <div class="title">
            <h3>Our Products</h3>
            <div class="line"></div>
          </div>
          <a href="#" class="btn">Contact Us</a>
        </div>
        <div class="grid">
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
        </div>
      </section>
      <!-- --product grid -->
      <!-- footer info -->
      <section class="info__block"
        style="background-image: url(http://localhost:1337<%=pageLayout.infoBlock.Image.url%>);">
        <div class="overlay"></div>
        <div class="content">
          <h4>
            <%= pageLayout.infoBlock.Heading1 %> <span>
                <%= pageLayout.infoBlock.Heading2 %>
              </span>
          </h4>
          <p>
            <%= pageLayout.infoBlock.Text %>
          </p>
          <div class="btns">
            <a href="<%= pageLayout.infoBlock.Button1Link %>" class="btn">
              <%= pageLayout.infoBlock.Button1Text %>
            </a>
            <a href="<%= pageLayout.infoBlock.Button2Link %>" class="btn">
              <%= pageLayout.infoBlock.Button2Text %>
            </a>
          </div>
        </div>
      </section>
      <!-- --footer info -->
    </main>

    <%- include('partials/footer'); -%>